/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Gruppo&family=Parisienne&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: darkorange;
  /* background-image: linear-gradient(rgb(236 219 219),white,#efd3d3); */
  background: url(../public/images/posts/img22.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

.bottom-image {
  border-radius: 34%;
  box-shadow: 2px 1px 13px black;
}
header {
  background: rgb(247, 245, 245);
  color: rgb(12, 12, 12);
  padding: 13px;
  margin-bottom: 40px;
  opacity: 0.6;

}
header a {
  color: #fff;
}
footer {
  background: #efecec;
  color: #0d1215;
  padding: 5px;
  margin-top: 75px;
  text-align: end;
  padding: 10px;
  font-size: 20px;
  margin-top: 16px;
  opacity: 0.6;
}
footer a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  /* font-family: "Charm", cursive;
  font-family: "Gruppo", cursive;
  font-family: "Parisienne", cursive; */
}

.container h2 {
  font-family: "Charm", cursive;
}

.btn {
  display: inline-block;
  background: wheat;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  opacity: 0.67;
}
.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* background-color: white; */
  color: white;
  border: 2px solid white;
  /* border-radius: 18px; */

}
.card-ty
{
border-radius: 0%;


}

#yo
{
  height: 243px;
}

#yo2{
  height: 335px;
  width: 327px;
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
  font-weight: bold;
  color: black;
  border-radius: 6px;
  opacity: 0.6;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.description {
  /* background-color: white; */
  text-align: center;
  font-family: "Parisienne", cursive;
  font-size: 40px;
  padding: 10px;
  /* box-shadow: 0px 2px 5px #0a0a0a; */
  border: 1px;
  color: white;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
